:root {
  /* prettier-ignore */
  --bgImage1: url(../images/Patches.svg);

  /* prettier-ignore */
  --bgImage3: url(../images/Waves.svg);

  /* prettier-ignore */
  --bgImage2: url(../images/Dots.svg);
  --bgImage4: none;
}

piece gild {
  /* rotate: -284deg; */
  scale: 1;
  background-size: 120% 120%;
  /* background-position: 0 0, 100% 100%; */
  background-repeat: repeat;
  /* animation: rotatinggild 3 3s linear infinite;
  -webkit-animation: rotatinggild 33s linear infinite; */
}

@keyframes rotatinggild {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotatinggild {
  100% {
    transform: rotate(360deg);
  }
}