:root {
  --shape1: url(./images/CatSquare.svg);
  --shape2: url(./images/CatCircle.svg);
  --shape3: url(./images/CatTriangle.svg);
  --shape4: url(./images/CatHexagon.svg);
  --meBorderRadius: 25px;
  --patternOpacity: .4;
}

wallpaper.square pattern {
  background-image: url(../images/CatSquare.svg);
}

wallpaper.circle pattern {
  background-image: url(../images/CatCircle.svg);
}

wallpaper.triangle pattern {
  background-image: url(../images/CatTriangle.svg);
}

wallpaper.hexagon pattern {
  background-image: url(../images/CatHexagon.svg);
}